---
import LinkButton from "./LinkButton.astro";
import GitHub from "./icons/GitHub.astro";
import React from "./icons/React.astro";
import ExpressJS from "./icons/Express.astro";
import Bulma from "./icons/Bulma.astro";
import ChakraUi from "./icons/ChakraUi.astro";
import MySql from "./icons/MySql.astro";
import Eye from "./icons/Eye.astro";
import SQLite from "./icons/SQLite.astro"
import Expo from "./icons/Expo.astro"

const TAGS = {
  SQLITE: {
    name: "SQLite",
    class: "text-gray-300 font-medium",
    icon: SQLite
  },
  BULMA: {
    name: "BULMA",
    class: "text-gray-300 font-medium",
    icon: Bulma,
  },
  REACT: {
    name: "React",
    class: "text-gray-300 font-medium",
    icon: React,
  },
  REACTNATIVE: {
    name: "React Native",
    class: "text-gray-300 font-medium",
    icon: React,
  },
  EXPRESSJS: {
    name: "Express JS",
    class: "text-gray-300 font-medium",
    icon: ExpressJS,
  },
  CHAKRAUI: {
    name: "Chakra UI",
    class: "text-gray-300 font-medium",
    icon: ChakraUi,
  },
  MYSQL: {
    name: "MySQL",
    class: "text-gray-300 font-medium",
    icon: MySql,
  },
  EXPO: {
    name: "Expo",
    class: "text-gray-300 font-medium",
    icon: Expo
  }
};

const PROJECTS = [
  {
    title: "Strength Up",
    description: "App para registrar tus entranamientos y aplicar sobrecarga progresiva. Desarrollado con React Native de Expo y SQLite. Disponible en la Play Store.",
    image: "/projects/strength-up.webp",
    tags: [TAGS.REACTNATIVE, TAGS.SQLITE, TAGS.EXPO],
    deploy: "https://play.google.com/store/apps/details?id=com.pabris.StrengthUp"
  },
  {
    title: "Minimalist Player",
    description: "Reproductor de música, desarrollado en React Native",
    image: "/projects/musicplayer.webp",
    tags: [TAGS.REACTNATIVE],
    github: "https://github.com/patricio-alexander/musicplayer",
  },
  {
    title: "Iron Subscription",
    description:
      "App de Control de Pagos Mensuales para Gimnasios en React Native, Express, MySQL y React Native Paper",
    image: "/projects/ironsubscription.webp",
    tags: [TAGS.REACT, TAGS.EXPRESSJS],
    github: "https://github.com/patricio-alexander/client-native-gym",
  },
  {
    title: "ALUMNI",
    description: "Alumni del ISTMS, desarrollado en React, Express JS, Chakra UI",
    image: "/projects/alumni.webp",
    tags: [TAGS.REACT, TAGS.EXPRESSJS, TAGS.CHAKRAUI, TAGS.MYSQL],
    github: "https://github.com/EdgarPC8/egresados_graduados",
    deploy: "http://www.aplicaciones.marianosamaniego.edu.ec/alumni",
  },
  {
    title: "Lista de tareas",
    description:
      "Lista de tareas desarrollado en React, Express JS, MySql y Bulma CSS.",
    image: "/projects/tasklist.webp",
    tags: [TAGS.REACT, TAGS.EXPRESSJS, TAGS.BULMA],
    github: "https://github.com/patricio-alexander/taskAppReact",
  },
  
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, image, tags, github, deploy }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={`Captura de pantalla de ${image}`}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex items-center gap-x-2 rounded-full text-xs py-1 px-2 ${tag.class}`}
                  >
                    <tag.icon class="size-6" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <p class="mt-2 text-gray-400">{description}</p>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-5" />
                  Código
                </LinkButton>
              )}

              {deploy && (
                <LinkButton href={deploy}>
                  <Eye class="size-5"/>
                  Ver
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
